<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chapter12.MemberMapper">
	<insert id="insertMember" parameterType="chapter12.MemberVO">
		INSERT INTO member (
			id, name, filename_org, filename_real, password
		) VALUES (
			#{id}, #{name}, #{filename_org}, #{filename_real}, MD5(#{password})
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertHobby" parameterType="chapter12.HobbyVO">
		INSERT INTO hobby(
			hobbyname, member_no
		) VALUES(
			#{hobbyname}, #{member_no}
		)
	</insert>
	
	<select id="list" resultType="chapter12.MemberVO">
		SELECT * FROM member
	</select>
	
	<select id="login" resultType="chapter12.MemberVO" parameterType="chapter12.MemberVO">
			<!-- 여기서 password는 암호화되었기 때문에 반드시 MD5안에 넣어야함.  -->
		SELECT * FROM member WHERE id=#{id} and password=MD5(#{password})
	</select>
</mapper>