* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    /* 가운데 정렬 */
}

.header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.menu {
    width: 1200px;
    margin: 0 auto;
    height: 40px;
}

ul,
li {
    list-style-type: none;
}

.menu>ul {
    margin: 0;
    padding: 0;
}

.menu>ul>li {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
}

.depth2 {
    width: 100%;
    position: relative;
    list-style-type: none;
    background-color: white;

    z-index: 10;
    display: none;
}

.visual {
    width: 100%;
    /* display: bl; */
}

.visual img {
    /* 이미지는 뭔가 여백이 있다. */
    /* 그 여백을 없애기 위해 이미지를 block으로 처리! */
    display: block;
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}

.footer {
    width: 100%;
    background-color: #d1c3a7;
    clear: both;
    padding: 30px;
}

.footer>.size {
    width: 1200px;
    margin: 0 auto;
}

.footer>.size>.info {
    line-height: 25px;
}

.footer>.size>.sns_area {
    position: absolute;
    right: 0;
    bottom: 0;
}

.size {
    position: relative;
}

.header>.size>.idRelated {
    position: absolute;
    right: 0;
    top: 0;
}

.section {
    width: 33%;
    float: left;
    padding: 10px;
    text-align: center;
}

.outLink {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.outLink>.contents {
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative;
    padding: 5px;
}

.outLink>.contents>.board_title {
    font-size: 25px;
    float: left;
    text-align: center;
    margin: 10px;
}

.outLink>.contents>.board_contents {
    text-align: left;
    clear: both;
    display: none;
}

.outLink>.contents>.board_title.on {
    background-color: black;
    color: white;
}

.outLink>.contents>.board_contents.on {
    display: block;
}

.outLink>.contents>.board_contents>ul:first-child {
    border-top: 1px black solid;

}

.outLink>.contents>.board_contents>ul>li {
    padding: 15px 0 15px 10px;
    font-size: 18px;
    border-bottom: 1px black solid;
}

.outLink>.contents>.board_contents>ul>li>span {
    position: absolute;
    right: 15px
}